.curso-item .circulo-3 {
  display: grid;
  /* padding: 180px; */
  height: 360px;
  width: 360px;
  background: linear-gradient(90deg, #FFDD00 0%, #BB5500 100%);
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25); */

  border-radius: 50%;
}

.circulo-3 .circulo-content p {
  position: relative;
  margin-top: 28px;
  text-align: center;
  justify-self: center;
  align-self: center;
  /* Bungee Spice */
  background: 
  #BB5500;
 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font: 500 2.5rem/1 "Concert One", serif;
  /* font: 500 2.5rem/1 "Bungee Spice", serif; */
}
.circulo-3 .circulo-content p::after {
  content: "JAVASCRIPT";
  background: -webkit-linear-gradient(#FFDD00, #FFA001);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  position: absolute;
  top: -2px;
  left: -2px;
}
.circulo-3 #horas::before {
 
  content: "72h";
  color: var(--c6);
  position: absolute;
  margin-top: -1;
  margin-left: -2px;
}